        <tr>
          <td class="{{hierarchyClass}}"><strong>{{{hierarchyIndicators}}}{{{id}}}</strong></td>
          <td class="{{hierarchyClass}}">{{{hierarchyIndicators}}}{{{title}}}</td>
          <td class="{{hierarchyClass}}">{{{implementations}}}</td>
          <td class="{{hierarchyClass}}">{{{tests}}}</td>
          <td class="{{hierarchyClass}}">{{{statusBadge}}}</td>
        </tr>
