        <tr>
          <td><strong>{{{id}}}</strong></td>
          <td>{{{title}}}</td>
          <td>{{{implementations}}}</td>
          <td>{{{tests}}}</td>
          <td>{{{statusBadge}}}</td>
        </tr>
