{{> header}}

    <table>
      <thead>
        <tr>
          <th>Design ID</th>
          <th>Title</th>
          <th>Implementations</th>
          <th>Tests</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#rows}}
        {{> design-row}}
        {{/rows}}
      </tbody>
    </table>

    {{> summary}}

{{> footer}}
